<div class="page">

	<div class="mobile">

	    <div class="header"><a href="#menu"><img src="img/phone/header.png" /></a></div>
	    <div><img class="resizable" src="img/phone/casa.png" /></div>

	</div>

	<div class="tablet">

	    <div class="header"><a href="#menu"><img src="img/tablet/header.png" /></a></div>
	    <div class="image-content"><img class="resizable" src="img/tablet/casa.jpg" /></div>
		
	</div>

</div>
