<div class="page screensaver">
    <div class="mobile">
        <a href="#menu"><img class="menu resizable" src="img/phone/screensaver.png" /></a>
    </div>
    <div class="tablet">
        <a href="#menu"><img class="resizable" src="img/tablet/screensaver.jpg" /></a>
    </div>
</div>
