<div class="page">

	<div class="mobile">
    <div class="header"><a href="#menu"><img src="img/phone/header.png" /></a></div>
    <div><img class="resizable" src="img/phone/jogos.png" /></div>
	</div>

</div>
