<div class="page">

	<div class="mobile">
	</div>

	<div class="tablet">

	    <div class="header"><a href="#menu"><img src="img/tablet/header.png" /></a></div>
	    <div class="image-content"><img class="resizable" src="img/tablet/bairro.png" /></div>
		
	</div>

</div>
