<div class="page">
    <div class="mobile">
        <div class="header">
            <a href="#"><img src="img/phone/header.png" /></a>
        </div>
        <div>
            <a href="#casa_mobile"><img class="menu resizable" src="img/phone/menu-1.png" /></a>
        </div>
        <div>
            <img class="menu resizable" src="img/phone/menu-2.png" />
        </div>
        <div>
            <img class="menu resizable" src="img/phone/menu-3.png" />
        </div>
        <div>
            <a href="#personagens_mobile"><img class="menu resizable" src="img/phone/menu-4.png" /></a>
        </div>
        <div>
            <a href="#jogos_mobile"><img class="menu resizable" src="img/phone/menu-5.png" /></a>
        </div>
        <div><img class="menu resizable" src="img/phone/menu-patrocinadores.png" /></div>
    </div>
    
    <div class="tablet">
        <div class="container menu-bg">
            
            <div class="menu">

                <div class="casa">
                    <a href="#casa_mobile"><img src="img/tablet/bt-casa.jpg" /></a>
                </div>

                <div class="bairro">
                    <a href="#mapa"><img src="img/tablet/bt-bairro.jpg" /></a>
                </div>

                <div class="personagens">
                    <a href="#personagens_mobile"><img src="img/tablet/bt-personagem.jpg" /></a>
                </div>

                <div class="jogos">
                    <img src="img/tablet/bt-jogos.jpg" />
                </div>

                <div class="museu">
                    <img src="img/tablet/bt-museu.jpg" />
                </div>

                <div class="sobre">
                    <img src="img/tablet/bt-sobre.jpg" />
                </div>

            </div>

        </div>
    </div>
</div>
