* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .mobile, .tablet {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
}

img {
    display: block;
}

.page {
    padding-top: 70px;
    width: 100%;
    height: 100%;
}

.page.screensaver {
    padding-top: 0;
}

.page.is_visible {
    transform: translate3d(0, 0, 0);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: #e11a3b;
    width: 100%;
    height: 70px;
}

.resizable {
    width: 100%;
}

.tablet {
    display: none;
}

@media only screen and (min-width: 1000px) {

    .page {
        padding-top:0;
    }

    .container {
        background: url(../img/tablet/menu.jpg);
        background-size: 100% 100%;
    }

    .container.menu-bg {
        width: 1024px;
        height: 768px;
    }

    .menu {
        position: relative;
        top: 32%;
        left: 50%;
        margin-left: -460px;
        width: 920px;
    }

    .menu .casa {
        position: absolute;
        top: 0;
        left: 0;
        width: 214px;
        height: 266px;
    }

    .menu .bairro {
        position: absolute;
        top: 0;
        left: 219px;
        width: 481px;
        height: 210px;
    }

    .menu .personagens {
        position: absolute;
        top: 0;
        left: 705px;
        width: 214px;
        height: 327px;
    }

    .menu .jogos {
        position: absolute;
        top: 271px;
        left: 0;
        width: 214px;
        height: 207px;
    }

    .menu .museu {
        position: absolute;
        top: 215px;
        left: 219px;
        width: 214px;
        height: 207px;
    }

    .menu .sobre {
        position: absolute;
        top: 332px;
        left: 705px;
        width: 214px;
        height: 144px;
    }

    .header {
        height: 60px;
        background: #1f2e29;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    .image-content {
        padding-top:60px;
    }
}

@media only screen and (min-width: 1025px) {

    .container.menu-bg {
        width:100%;
        height: 100%;
        background-image: url(../img/tablet/bg-16x9.jpg);
    }

}
